@using Microsoft.AspNetCore.Identity;
@using BisHelpersWebApp.Areas.Identity.Data


@model SQsupport



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BisHelpersWebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand">ADMIN PANEL</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"></div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Account/Signin", new { area = "Identity" })" method="post" class="form-inline">
                            <button class="nav-link btn btn-link text-dark" type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            
            <form method="post">
                <div class="border p-3 mt-4">
                    <div class="row pb-2">
                        <h2 class="text-primary">Create Summaries And Quizzes Request</h2>
                        <hr />
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div><br />

                    <div class="mb-3">
                        <label asp-for="AuthorName"></label>
                        <input asp-for="AuthorName" readonly value="BIS Helpers" class="form-control" style="height: fit-content;" />
                    </div>

                    <div class="mb-3">
                        <label asp-for="SubjectName"></label>
                        <select asp-for="SubjectName" aria-required="true" class="form-control">

                            <option value="E-Commerce">E-Commerce</option>
                            <option value="Database">Database</option>
                            <option value="Cost Acounting">Cost Accounting</option>
                            <option value="Auditing">Auditing</option>
                            <option value="Human Resources Managment">HRM</option>
                            <option value="Communication">Communication</option>

                        </select>
                    </div>
                    <div class="mb-3">
                        <label asp-for="UrlDescription"></label>
                        <input asp-for="UrlDescription" class="form-control" style="height: fit-content;" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="UrlContent"></label>
                        <input asp-for="UrlContent" type="url" class="form-control" id="exampleTextarea" />
                    </div>
                    <div class="mb-3">
                        <input asp-for="StudentId" value="non" hidden class="form-control" id="exampleTextarea" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="UrlType"></label>
                        <select asp-for="UrlType" aria-required="true" class="form-control">
                            <option value="Facebook">Facebook</option>
                            <option value="Telegram">Telegram</option>
                            <option value="Google Drive">Google Drive</option>
                            <option value="Google Form">Google Form</option>
                            <option value="Youtube">Youtube</option>
                            <option value="Else">Else</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary" style="width: 150px">Create</button>
                    <a asp-controller="AdminPanel" asp-action="Index" class="btn btn-secondary" style="width:150px">
                        Back to Portal
                    </a>
                </div>
            </form>

        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>


