@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <!--css file-->
    <link rel="stylesheet" href="~/css/masterLogin.css" asp-append-version="true">
    <!--randre all element normally-->
    <link rel="stylesheet" href="css/normalize.css">
    <!--google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400
    ;0,600;0,800;1,200;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <section>
        <div class="imgpx">
            <!-- <img src="css/1.png"> -->
            <div class="context">
                <h1>BIS Helpers</h1>
                <h1>With You</h1>
            </div>


            <div class="area">
                <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class=contentpx>
            <div class="formpx">
                <h1>@ViewData["Title"]</h1>
                <h1>Enter your email.</h1>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="inputpx">
                         <div class="form-floating">
                            
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />                        
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                        <div class="inputpx">
                            
                            <input type="submit" value="Reset Password">

                        </div>
                </form>
            </div>
        </div>
            
        

    </section>
</body>
</html>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
