@using Microsoft.AspNetCore.Identity
@using BisHelpersWebApp.Areas.Identity.Data

@inject SignInManager<Student> SignInManager
@inject UserManager<Student> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="UnOfficial website of BIS-HU. To provide help in the learning process, improve it and to
                            make it easier for you.">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Damion&display=swap" rel="stylesheet">
    <title>About Us</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/about-us.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/Main.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" asp-append-version="true" />


</head>

<body>
    <main>
        <div class="big-wrapper light">
            <header>
                <div class="container">
                    <div class="logo">
                        <a asp-controller="LandingPage" asp-action="Index"> <img src="../img/BIS_helpers-mdwr.png" alt="Logo" /></a>
                        <h3> <a asp-controller="LandingPage" asp-action="Index"> BIS <span class="helpers"> helpers</span></a></h3>
                    </div>

                    <div class="links">
                        <ul>
                            <li><a asp-controller="LandingPage" asp-action="Index">Home</a></li>
                            <li><a asp-controller="LandingPage" asp-action="WhatsBIS">What's BIS HU</a></li>
                            <li><a asp-controller="LandingPage" asp-action="AboutUs">About Us</a></li>
                            <li><a asp-controller="LandingPage" asp-action="ContactUs">Contact Us</a></li>
                            @{
                                if (SignInManager.IsSignedIn(User))
                                {
                                    <form>
                                    <li><a asp-controller="Portal" asp-action="Index" class="btn" target="_blank">Hello @UserManager.GetUserAsync(User).Result.StudentName!</a></li>
                                    </form>
                                    //<button type="submit">Logout</button>
                                }
                                else
                                {
                                    <li><a asp-area="Identity" asp-page="/Account/Signin" class="btn" target="_blank">Sign In</a></li>
                                }

                            }
                        </ul>
                    </div>
@*                    <div class="overlay"></div>
                    <div class="hamburger-menu">
                        <div class="bar"></div>
                    </div>*@
                </div>
            </header>
        </div>
    </main>

    

    <section class="aboutus">
        <h1>About Us</h1>
    </section>
    <div class="text-bishu">
        <div class="container">
            <div class="info">
                <h2>Who We Are ?</h2>
                <p>BIS Helpers is aimed to help students of BIS-HU in their learning journey through providing
                    services that can be redeemed as helpful and useful. We have noticed the gaps that are in the
                    university's overall system, and we are trying to fill in those gaps by making several options that
                    can hopefully help our fellow university friends accelerate in their own studies and career.</p>
            </div>
            <div class="image">
                <img src="../img/BIS_helpers-removebg.png" alt="">
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="image">
                <img src="../img/portal.jpg" alt="">
            </div>
            <div class="info">
                <h2>Our Portal</h2>
                <p>Our Portal have several different services, starting from providing weekly updates on professors,
                    assignments, making GPA analysis all the way up to helping with research and projects. Besides our
                    own services, we have other features such as creating clear schedule tables based on your personal
                    classes schedule, informing you about career pathways to help you start your own unique career and
                    other student tools.
                </p>
            </div>
        </div>
        <div class="PortalImg">
            <img src="~/img/Web capture_22-9-2022_19357_localhost.jpeg" alt="" />
        </div>
        <div class="cards">
            <div class="counter-container">
                <i class="fa-solid fa-user"></i>
                <div style="display: flex; justify-content: center; align-items: center">
                    <div class="counter" data-target="400"></div>
                    <div style="font-size: 25px; color: #1877f2">+</div>
                </div>
                <span>Active Users</span>
            </div>
            <div class="counter-container">
                <i class="fa-solid fa-code"></i>
                <div class="counter" data-target="15000"></div>
                <span>Code Lines</span>
            </div>
        </div>
        <div class="container-one">
            <div class="info">
                <h2 class="main"><i class="fa-solid fa-user-graduate"></i>  GPA Analysis</h2>
                <p>
                    You Don't Know How To Improve Your GPA?<br />GPA Analysis Feature is a tool that helps you to know your GPA well 
                    and move forward to achieve High Grades.
                </p>
            </div>
            <div class="info">
                <h2 class="main"><i class="fa-solid fa-graduation-cap"></i>  Weekly Updates</h2>
                <p>
                    Weekly Updates Feature Genrates Reports based on doctors you registered with and describe what you have to do this week and
                    prepare for the next weeks to achieve High Grades.
                </p>
            </div>
        </div>
        <div class="container-one">
            <div class="info">
                <h2 class="main"><i class="fa-solid fa-laptop-code"></i>  Careers</h2>
                <p>
                    IF Your Future Career Not clear<br />Our careers feature provide alot of career paths to know about more than one career and choose which
                    satisfies your passion.
                </p>
            </div>
            <div class="info">
                <h2 class="main"><i class="fa-solid fa-screwdriver-wrench"></i>  Student Tools</h2>
                <p>
                    Student tools are gathered together by our team to help you access tools faster and make your life easy by providing
                    collection of Amazing tools like (PDF converter, remove image background, etc...).
                </p>
            </div>
        </div>
        <div class="container-one">
            <div class="info">
                <h2 class="main"><i class="fa-solid fa-microchip"></i>  Student Library</h2>
                <p>
                    It's the place where you'll find everything you need by using three main features ( assignment support, summaries and quizzes and lectures and sections guide ) 
                    that will help to succeed.

                </p>
            </div>
            <div class="info">
                <h2 class="main"><i class="fa-solid fa-building-columns"></i>  BIS Family Updates <span>(SOON)</span></h2>
                <p>
                    BIS Family Updates feature filters the posts which are posted on BIS family Group and shows posts that are related
                    to your level and help you to find any post easily.
                </p>
            </div>
        </div>
        <hr>
    </div>

    <div class="image-down">
            <img src="../img/Hands.jpg" alt="">
    </div>

    <footer>
        <div class="footer-logo">
            <h4>Bis <span> helpers</span></h4>
        </div>
        <div class="footer-links">
            <ul>
                <li><a asp-controller="LandingPage" asp-action="Index">Home</a></li>
                <li><a asp-controller="LandingPage" asp-action="WhatsBIS">What's BIS HU</a></li>
                <li><a asp-controller="LandingPage" asp-action="AboutUs">About Us</a></li>
                <li><a asp-controller="LandingPage" asp-action="ContactUs">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-down">
            <div class="copy-right">
                &copy;2022 BIS helpers.All rights reserved.
            </div>
            <div class="icons">
                <a href="https://www.instagram.com/bis_helpers/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="mailto:helpersbis@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
            </div>
            <p>Developed By BIS Helpers Team</p>
        </div>
    </footer>
    <!-- JavaScript Files -->

    <script src="~/js/counter.js"></script>

</body>

</html>